.dashBoardContent {
    display: flex;
    flex-direction: row;
    gap: 15px; /* Reduced gap for closer spacing */
}

/* Main Board */
.allTransactionsTitle {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px; /* Added spacing below the title */
}

/* First Column */
.firstColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.statsContainer {
    background: white;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
    padding: 20px; /* Added padding for content */
}

/* First Column - Total Button Group */
.totalBtnGroup {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.totalIncomeContainer, .totalExpenseContainer, .balanceContainer {
    background-color: white;
    border-radius: 20px;
    width: 35%; 
    padding: 10px 20px; 
    border: 2px solid; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease; 
}

.totalIncomeContainer:hover, .totalExpenseContainer:hover, .balanceContainer:hover {
    transform: translateY(-5px); 
}

.totalIncomeTitle, .totalExpenseTitle, .balanceTitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px; 
}

.totalIncome, .totalExpense, .balance {
    font-size: 40px;
    font-weight: bold;
    overflow-wrap: break-word;
}

/* Color-specific containers */
.totalIncomeContainer {
    border-color: #4bc0c0;
}

.totalExpenseContainer {
    border-color: #e01b45;
}

.balanceContainer {
    border-color: #4bc0c0;
}

/* Second Column */
.secondColumn {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reduced gap for closer spacing */
}

/* Recent Transactions & Recent Budgets */
.recentTransactionsContainer, .recentBudgetsContainer {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recentTransactionsTitle, .recentBudgetsTitle {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.recentTransactions, .recentBudgets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recentTransactionsItem, .recentBudgetItem {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    padding: 12px 20px;
    justify-content: space-between;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease;
}

.recentTransactionsItem:hover, .recentBudgetItem:hover {
    transform: translateY(-5px);
}
