@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  background: url('https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8MHx8&auto=format&fit=crop&w=1770&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
  gap: 5%;
  color: #02403E;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(184deg, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.6) 100%);
  opacity: 0.7; /* Adjust this value to control lightness */
  z-index: 1;
}

.main > * {
  position: relative;
  z-index: 2;
}
